[Unit]
Description=BIBO Telegram Bot Service

[Service]
ExecStart=/usr/bin/python ~/BIBO_Bot/biboBot.py
Restart=on-failure

[Install]
WantedBy=default.target
