[Unit]
Description=BIBO Service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
User=pi
Restart=always
RestartSec=60
Type=simple
ExecStart=/usr/bin/python3 /home/pi/BIBO_Bot/biboBot.py

[Install]
WantedBy=multi-user.target
